[submodule "docker-setup/AFLPP"]
	path = docker-setup/AFLPP
	url = git@github.com:infosec-sogang/SPAFLPP.git
	branch = aflpp
[submodule "docker-setup/SPAFLPP"]
	path = docker-setup/SPAFLPP
	url = git@github.com:infosec-sogang/SPAFLPP.git
	branch = spaflpp
[submodule "docker-setup/HavocMAB"]
	path = docker-setup/HavocMAB
	url = https://github.com/MagicHavoc/Havoc-Study
